
.imageContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* grid-cols-2 */
    grid-template-rows: repeat(2, 1fr); /* grid-rows-2 */
    gap: 1em;
    align-items: center;
    justify-items: center;
}

.images {
    position: relative;
    height: 17vw;
    width: 17vw;
    opacity: 1;
    cursor: pointer;
}

.images:hover {
    opacity: 80%;
}


@media (max-width: 768px) {
    .images {
        height: 35vw;
        width: 35vw;
    }
}