.main {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100vh 100vh 100vh;
}

.landingFrame1 {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 30px;
    text-transform: uppercase;
    background-image: url(../../public/images/bg.jpg);
}
  
.landingFrame1 .slogan {
    color: var(--primary-light-color);
    font-size: 40px;
    text-shadow: 1px 1px 2px black;
    font-weight: bold;
    letter-spacing: -1px;
    padding-top: 35px;
}
  
.btn {
    background-color: var(--primary-dark-color);
    color: var(--primary-light-color);
    border-radius: 20px;
    padding: 10px 30px 10px 30px;
    text-transform: uppercase;
    margin-top: 2%;
}

.btn:hover {
    background-color: var(--secondary-light-color);
    color: var(--primary-dark-color);
    cursor: pointer;
}

.discoverFrame2 {
    background-color: var(--primary-light-color);
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 30px;
    column-gap: 20px;
}

.discoverFrame2 .discover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;;
    row-gap: 20px;
}

.discoverFrame2 .discover .discoverTitle {
    font-size: xxx-large;
    font-weight: bolder;
}

.discoverFrame2 .discover .discoverText {
    font-size: large;
    font-weight: 500;
}

.Frame3 {
    background-color: var(--secundary-light-color);
}

